<footer>
  <div class="sections">
    <div class="section-1">
      <div class="logo">
        <img src="https://template74444.motopreview.com/mt-demo/74400/74444/mt-content/uploads/2018/11/mt-1667-logo.png" alt="">
        <p><span>WebTur</span><br>Туры Онлайн</p>
      </div>
      <p class='section-1-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus tenetur numquam, quas distinctio quisquam vitae atque! Asperiores nobis nemo vero architecto eum.</p>
    </div>
    <div class="section-2">
      <h3>Разделы</h3>
      <div class="grid">
        <a href="/">Главная</a>
        <a href="/pages/about">О сайте</a>
        <a href="#">Contacts</a>
        <a href="#">Hotels</a>
        <a href="#">Turs</a>
        <a href="#">Cars</a>
      </div>
    </div>
    <div class="section-3">
      <h3>Contacts</h3>
      <p>SPb, Russia</p>
      <p>Tel: +1 234 34 43</p>
      <p>E-mail: webtur@gmail.com</p>
    </div>
    <div class="section-4">
      <h3>Follow us</h3>
      <div class="soc-menu">
        <a href="#"></a>
      </div>
    </div>
  </div>
  <div class="footline">©Copyright  |  WebTur 2018. All Right Reserved</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/assets/carousel/owl.carousel.min.js"></script>
    <script src="/mmenu/dist/jquery.mmenu.all.js"></script>
    <script src="/assets/js/common.js"></script>
</footer>