<footer>
  <div class="sections">
    <div class="section-1">
      <div class="logo">
        <img src="/assets/img/icons/logo.svg" alt="Горящие туры, отели, авто и авиабилеты по самым низким ценам от всех туроператоров">
        <p><span>WebTur</span><br>Туры Онлайн</p>
      </div>
      <p class='section-1-text'>Этот сайт создан для всех любителей путешествий. На его страницах можно найти туры, забронировать отели, снять в аренду автомобиль и приобрести авиабилеты по самым низким ценам среди всех предложений на рынке России</p>
    </div>
    <div class="section-2">
      <h3>Разделы</h3>
      <div class="grid">
        <a href="/">Главная</a>
        <a href="/pages/about">О сайте</a>
        <a href="#">Контакты</a>
        <a href="#">Отели</a>
        <a href="#">Туры</a>
        <a href="#">Авто</a>
      </div>
    </div>
    <div class="section-3">
      <h3>Контакты</h3>
      <p>СПб, Россия</p>
      <p>Тел: +1 234 34 43</p>
      <p>E-mail: webtur@gmail.com</p>
    </div>
    <div class="section-4">
      <h3>Читайте нас</h3>
      <div class="soc-menu">
        <a href="#"></a>
      </div>
    </div>
  </div>
  <div class="footline">© Copyright | WebTur 2018. All Right Reserved</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/assets/carousel/owl.carousel.min.js"></script>
    <script src="/mmenu/dist/jquery.mmenu.all.js"></script>
    <script src="/assets/js/common.js"></script>
</footer>