<div class="parallax-window" data-parallax="scroll" data-image-src="https://www.santour.ru/inc/landing/img/slider_1.jpg">
    <section class="slider">
        <div class="heading">
            <h1>Куба<br><span>туры, отели, билеты, авто</span></h1>
            <p class='line-paragraf'>Купи тур, пес! dolor sit amet consectetur adipisicing. ipsum dolor sit amet consectetur adipisicing elit. Tempore maxime eaque earum distinctio magnam.</p>
        </div>
    </section>
</div>

<section class="subscribe grid">
    <div class="container">
        <div class="subscribe-left">
            <div class="heading">
                <h2>Lorem ipsum dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eius, aliquam odio. Dignissimos totam, soluta.</p>
            </div>
        </div>
    </div>
    <div class="container-right">
        <div class="subscribe-right">
            <input type="text" placeholder="Please Enter Your Email">
            <div class="button">Отправить</div>
        </div>
    </div>
</section>

<section class="main-turs">
    <div class="heading">
        <h2>Самые популярные туры на Кубу</h2>
        <p>Найди свое направление</p>
    </div>
    <div class="owl-carousel">
        <div class="tur-box">
            <div class="img-box">
                <div class="img-box-tur" style="background-image: url(https://webturr.github.io/assets/img/kurorts/gavana.jpg)" ;></div>
            </div>
            <a href="countries\cuba\gavana" class="carusel-tur-name">Туры в Гавану</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia consequuntur sapiente mollitia, unde ipsam suscipit, porro in debitis illo, voluptatem commodi facilis?</p>
            <a href="countries\cuba\gavana" class="button">Узнать больше</a>
        </div>
        <div class="tur-box">
            <div class="img-box">
                <div class="img-box-tur" style="background-image: url(https://webturr.github.io/assets/img/kurorts/olgin.jpg)" ;></div>
            </div>
            <a href="countries\cuba\olgin" class="carusel-tur-name">Туры в Ольгин</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia consequuntur sapiente mollitia, unde ipsam suscipit, porro in debitis illo, voluptatem commodi facilis?</p>
            <a href="countries\cuba\olgin" class="button">Узнать больше</a>
        </div>
        <div class="tur-box">
            <div class="img-box">
                <div class="img-box-tur" style="background-image: url(https://webturr.github.io/assets/img/kurorts/trinidad.jpg)" ;></div>
            </div>
            <a href="countries\cuba\trinidad" class="carusel-tur-name">Туры в Тринидад</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia consequuntur sapiente mollitia, unde ipsam suscipit, porro in debitis illo, voluptatem commodi facilis?</p>
            <a href="countries\cuba\trinidad" class="button">Узнать больше</a>
        </div>
        <div class="tur-box">
            <div class="img-box">
                <div class="img-box-tur" style="background-image: url(https://webturr.github.io/assets/img/kurorts/varadero.jpg)" ;></div>
            </div>
            <a href="countries\cuba\varadero" class="carusel-tur-name">Туры в Варадеро</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia consequuntur sapiente mollitia, unde ipsam suscipit, porro in debitis illo, voluptatem commodi facilis?</p>
            <a href="countries\cuba\varadero" class="button">Узнать больше</a>
        </div>
    </div>
</section>


<section class="services">
    <div class="airtickets item">
        <a href="#">
            <img src="/assets/img/icons/tickets.svg" alt="Билеты на самолеты от всех авиаоператоров">
            <h3>Авиабилеты</h3>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, aliquid ex. Facere inventore harum deserunt sequi ad reiciendis ullam doloremque iste.</p>
    </div>
    <div class="turs item">
        <a href="#">
            <img src="/assets/img/icons/turs.svg" alt="Туры и путевки от всех туроператоров">
            <h3>Туры</h3>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, aliquid ex. Facere inventore harum deserunt sequi ad reiciendis ullam doloremque iste.</p>
    </div>
    <div class="hotels item">
        <a href="#">
            <img src="/assets/img/icons/hotels.svg" alt="Аренда отелей">
            <h3>Отели</h3>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, aliquid ex. Facere inventore harum deserunt sequi ad reiciendis ullam doloremque iste.</p>
    </div>
    <div class="cars item">
        <a href="#">
            <img src="/assets/img/icons/cars.svg" alt="Аренда автомобилей в любом городе мира">
            <h3>Авто</h3>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, aliquid ex. Facere inventore harum deserunt sequi ad reiciendis ullam doloremque iste.</p>
    </div>
</section>

<section class="tab-about">
    <div class="wrapper">
        <div class="tabs">
            <span class="tab active">Курорты</span>
            <span class="tab">Виза</span>
            <span class="tab">Отели</span>
        </div>
        <div class="tab_content">
            <div class="tab_item">
                <div class="img-box">
                    <div class="img-box-tur" style="background-image: url(assets/img/kurorts/cuba/cuba_1.jpg)" ;></div>
                </div>
                <h2>Курорты Кубы</h2>
                <div class="warning">Виза на Кубу не нужна!</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nisi omnis sequi quos quidem dolore nobis quibusdam fuga animi? Pariatur non incidunt inventore omnis quia, excepturi veritatis culpa! Sapiente commodi facere magni, nulla?
                    Amet nam reprehenderit eligendi labore vitae, sunt nihil aliquid delectus qui? Facere reprehenderit reiciendis deleniti quis blanditiis eius eligendi numquam, consequuntur animi!</p>
                <div class="specials">
                    <div class="spec-kurorts grid">
                        <a href="/countries/cuba/gavana" class="spec-kurort">Гавана</a>
                        <a href="/countries/cuba/varadero" class="spec-kurort">Варадеро</a>
                        <a href="/countries/cuba/olgin" class="spec-kurort">Ольгин</a>
                        <a href="/countries/cuba/trinidad" class="spec-kurort">Тринидад</a>
                        <a href="/countries/cuba/kayo-guillermo" class="spec-kurort">Кайо-Гильермо</a>
                        <a href="/countries/cuba/kayo-koko" class="spec-kurort">Кайо-Коко</a>
                        <a href="/countries/cuba/kayo-largo" class="spec-kurort">Кайо-Ларго</a>
                        <a href="/countries/cuba/santiago-de-cuba" class="spec-kurort">Сантьяго-де-Куба</a>
                    </div>
                </div>
            </div>
            <div class="tab_item">
                <div class="img-box">
                    <div class="img-box-tur" style="background-image: url(assets/img/kurorts/cuba/cuba_6.jpg)" ;></div>
                </div>
                <h2>Виза на Кубу</h2>
                <div class="warning">Виза на Кубу не нужна!</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nisi omnis sequi quos quidem dolore nobis quibusdam fuga animi? Pariatur non incidunt inventore omnis quia, excepturi veritatis culpa! Sapiente commodi facere magni, nulla?
                    Amet nam reprehenderit eligendi labore vitae, sunt nihil aliquid delectus qui? Facere reprehenderit reiciendis deleniti quis blanditiis eius eligendi numquam, consequuntur animi!</p>
                <div class="specials">
                    <div class="item">
                        <h3>Что нужно</h3>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                    </div>
                    <div class="item">
                        <h3>Таможня</h3>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                    </div>
                </div>
            </div>

            <div class="tab_item">
                <div class="img-box">
                    <div class="img-box-tur" style="background-image: url(assets/img/kurorts/cuba/cuba_6.jpg)" ;></div>
                </div>
                <h2>Отели Кубы</h2>
                <div class="warning">Виза на Кубу не нужна!</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nisi omnis sequi quos quidem dolore nobis quibusdam fuga animi? Pariatur non incidunt inventore omnis quia, excepturi veritatis culpa! Sapiente commodi facere magni, nulla?
                    Amet nam reprehenderit eligendi labore vitae, sunt nihil aliquid delectus qui? Facere reprehenderit reiciendis deleniti quis blanditiis eius eligendi numquam, consequuntur animi!</p>
                <div class="specials">
                    <div class="item">
                        <h3>Что нужно</h3>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                    </div>
                    <div class="item">
                        <h3>Таможня</h3>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(".tab_item").not(":first").hide();
    $(".wrapper .tab").click(function() {
        $(".wrapper .tab").removeClass("active").eq($(this).index()).addClass("active");
        $(".tab_item").hide().eq($(this).index()).fadeIn()
    }).eq(0).addClass("active");
</script>